.container {
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.container label {
  display: block;
  margin-bottom: 10px;

  font-size: 1.2rem;
}

.container input {
  width: -webkit-fill-available;
  height: 3px;

  -webkit-appearance: none;  /* Override default look */
  appearance: none;

  background: #777;
  border-radius: 100px;
}

.container input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */

  background-color: var(--button-pink);
  border: 2px solid white;
  border-radius: 100%;
}