:root {
  --background-primary: #0C0511;
  --background-secondary: #23132D;
  --button-blue: #a2f3f7;
  --button-green: #b4f6a9;
  --button-yellow: #edf0b0;
  --button-pink: #ca91ee;
  --button-purple: #240053;
  --button-red: #fd8e88;
}